streamlit==1.41.1
openai==1.60.2
python-dotenv==1.0.1
langchain==0.3.17
langchain-community==0.3.16
langchain-core==0.3.33
langchain-openai==0.3.3
langchain-text-splitters==0.3.5
chromadb==0.6.3
rank-bm25==0.2.2
pandas==2.2.3
numpy==1.26.4
SudachiPy==0.6.10
SudachiDict-full==20250129